body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg-gradient);
    color: var(--color-light);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-repeat: none;
    background-color: #020202;
    height: 100%;
    width: 100%;
}
html,
body {
    height: 100%;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    --color-primary: #fbbd40;
    --color-background: #020202;
    --color-accent: #ff3366;
    --color-light: #f4fffd;
    --color-tertiary: #65def1;

    --bg-gradient: linear-gradient(
        343deg,
        rgba(2, 2, 2, 1) 0%,
        rgba(28, 28, 28, 1) 75%,
        rgba(2, 2, 2, 1) 100%
    );

    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 4rem;

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;
    --border-radius-lg: 1rem;
}

*::selection {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.font-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.font-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.font-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.font-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.font-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.font-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--space-md);
}
h2 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--space-md);
}
h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--space-md);
}
h4 {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--space-md);
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: var(--space-md);
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-gap {
    gap: var(--space-md);
}
